
body {
  font-family: "Spectral", serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 400;
	color: #4a4a4a;
	line-height: 24px;
}
a {
	text-decoration: none!important;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	font-family: Fino Sans Regular;

}

ul.social-icons li {
	display: inline-block;
	margin-right: 3px;
}

ul.social-icons li:last-child {
	margin-right: 0px;
}

ul.social-icons li a {
	width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    background-color: #e7e5e1;
    color: #1e0f0e;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
    border-radius: 100%;
    border: solid 1px #1e0f0e38;
}

ul.social-icons li a:hover {
	background-color: #1e0f0e;
	color: #fff;
}

a.filled-button {
	background-image: linear-gradient(to top, #8d8c8c, #1a0b0a, #b5b5b5);
	border: 1px solid #e7e5e1;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 6px 18px 6px 22px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	font-weight: 500;
}

a.filled-button:hover {
	background-color: #bd232f;
	color: #fff;
}
a.text-red{
	color: #211b1a;
	font-weight: bold;
}
a.text-red:hover{
	color: #613834;
}
* {
  padding: 0;
  margin: 0;
}
.menu {
  list-style: none;
  height: 48px;
}
.menu li {
  text-align: left;
  color: #fff;
}
.menu li a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 15px;
  color: #fff;
  background-color: #bd232f;
}
.menu > li {
  float: left;
  border-right: 1px solid #fff;
  position: relative;
}
.menu > li > ul.dropdown_menu {
  position: absolute;
  list-style: none;
  display: none;
  top: 48px;
  left: 0;
  width: 123px;
}
.menu > li:hover > a {
  background-color: #bd232f;
}
.menu > li:hover > ul.dropdown_menu {
  z-index: 100;
  display: block;
}
ul.dropdown_menu > li > ul.submenu {
  position: absolute;
  display: none;
  left: 200px;
  list-style: none;
  width: 200px;
}
ul.dropdown_menu > li:hover > a {
  background-color: #F33F3F !important;
}
ul.dropdown_menu > li:hover > ul.submenu {
  z-index: 100;
  display: block;
}
ul.submenu > li:hover > a {
  background-color: #F33F3F !important;
}
.arrow {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}
.arrow-down {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #fff;
  /*padding-left: 10px;*/    /*H edit*/
}

.section-heading {
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #b9b9b9;
}

.section-heading h2 {
	font-family: Fino Sans Regular;
	font-size: 35px;
	font-weight: 400;
	color: #282828;
	margin-bottom: 15px;
	font-style: italic;
}

.products-heading {
	background-image: url(../images/products-heading.jpg);
}

.about-heading {
	background-image: url(../images/about-heading.jpg);
}

.contact-heading {
	background-image: url(../images/contact-heading.jpg);
}

.page-heading {
	padding: 210px 0px 130px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading .text-content h4 {
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#preloader {
  overflow: hidden;
  /*background: #f33f3f;*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Header Style */
header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 80px;
	/* background-color: #00FFFF; */
	/* border: 1px solid #017065; */
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 0;
}
.background-header .navbar {
	/*padding: 17px 0px;*/

}

.img-logo {
	width: auto;
	height: 50px;
}

.background-header {
	top: 0;
	position: fixed;
	background: #1e1918 !important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.background-header-show {
	top: 0;
	position: fixed;
	background: #1e1918 !important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.background-header .navbar-brand h2 {
	color: #bd232f!important;
}
.background-header .navbar-nav a.nav-link {
	color: #fff !important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #fff !important;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: 12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 7	00;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #d6b696;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
	font-family: 'Marcellus', serif;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #fff;
	padding-bottom: 25px;
	border-bottom: 1px solid #fff;
	font-weight: 700;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	/*border-color: #fff;*/
	/*background-color: #fff;	*/
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #f3f3f3;
	font-size: 20px;
	line-height: 26px;
	font-family: 'FontAwesome';
}
.navbar-toggler{
	padding: .25rem 0;
}



/* Banner Style */
.banner {
	position: relative;
	text-align: center;
	/* padding-top: 80px; */
	background: #000;
}

.banner-item-01 {
	padding: 450px 0px;
	/*background-image: url(../images/slide_01.jpg);*/
	background-size: cover;
	background-image: url('../images/home/Famous-nails-banner-01.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.banner-item-02 {
	padding: 450px 0px;
	background-image: url('../images/home/Famous-nails-banner-02.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0%;
}

.banner-item-03 {
	padding: 450px 0px;
	background-image: url('../images/home/Famous-nails-banner-03.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner .banner-item {
	max-height: 600px;
}

.banner .text-content {
	position: absolute;
	top: 59%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.banner .text-content h3 {
	color: #fff;
	/*font-size: 22px;*/
	/*text-transform: uppercase;*/
	font-weight: 300;
	margin-bottom: 15px;
	text-shadow: 1px 1px 5px #000;
}

.banner .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.owl-banner .owl-dots .owl-dot {
  border-radius: 3px;
}
.owl-banner .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}
.owl-banner .owl-dots .owl-dot:focus {
    outline: none
}
.owl-banner .owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 1;
}



/* Latest Produtcs */

.latest-products {
	margin-top: 100px;
}

.latest-products .section-heading a {
	float: right;
	margin-top: -35px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #f33f3f;
}

.product-item {
	margin-bottom: 30px;
}

.product-item .down-content {
	padding: 15px 0 15px 0;
	position: relative;
	text-align: center;
}

.product-item img {
	width: 100%;
	overflow: hidden;
	border-radius: 20px;
}

.product-item .down-content h4 {
	font-size: 20px;
	color: #222;
	margin-bottom: 0;
	text-transform: uppercase;
}
.product-item .down-content h4:hover {
	color: #bd232f;
}

.product-item .down-content h6 {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 18px;
	color: #121212;
}

.product-item .down-content p {
	margin-bottom: 20px;
}

.product-item .down-content ul li {
	display: inline-block;
}

.product-item .down-content ul li i {
	color: #c19f80;
	font-size: 15px;
}

.product-item .down-content .arrow {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 13px;
	color: #f33f3f;
	font-weight: 500;
}




/* Best Features */

.about-features {
	margin-top: 100px!important;
}

.about-features p {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.about-features .container .row {
	padding-bottom: 0px!important;
	border-bottom: none!important;
}

.best-features {
	margin-top: 50px;
}

.best-features .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}

.best-features img {
	width: 100%;
	overflow: hidden;
}

.best-features h4 {
	font-size: 30px;
	color: #333;
	margin-bottom: 20px;
}

.best-features ul.featured-list li {
	display: block;
	margin-bottom: 10px;
}

.best-features p {
	margin-bottom: 25px;
	padding: 0 15px;
}

.best-features ul.featured-list li a {
	font-size: 15px;
	color: #4a4a4a;
	font-weight: 300;
	transition: all .3s;
	position: relative;
	padding-left: 13px;
}

.best-features ul.featured-list li a:before {
	content: '';
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #4a4a4a;
	position: absolute;
	left: 0;
	transition: all .3s;
	top: 8px;
}

.best-features ul.featured-list li a:hover {
	color: #bd232f ;
}

.best-features ul.featured-list li a:hover::before {
	background-color: #f33f3f;
}

.best-features .filled-button {
	margin-top: 20px;
}





/* Call To Action */
.booking-at-bottom{
	padding: 90px 0;
}
.booking-at-bottom .inner-content{
	width: 70%;
	margin: 0 auto;
}
.booking-at-bottom h1{
	color: #fff;
    font-family: Fino Sans Regular;
	/*letter-spacing: 0.2rem;*/
}
.call-to-action .inner-content {
	/*margin-top: 60px;*/
	/*padding: 30px;*/
	background-color: #f7f7f7;
	border-radius: 5px;
	text-align: center;
}
.booking-at-bottom .filled-button{
	text-transform: uppercase;
	width: auto !important;
}

.call-to-action .inner-content h4 {
	font-size: 17px;
	color: #bd232f;
	margin-bottom: 15px;
}

.call-to-action .inner-content em {
	font-style: normal;
	font-weight: 700;
}

.call-to-action .inner-content .col-md-4 {
	text-align: right;
}

.call-to-action .inner-content .filled-button {
	margin-top: 12px;
}




/* Footer */

footer {
	text-align: center;
}

footer .inner-content {
	border-top: 1px solid #b9b9b9;
	/*margin-top: 60px;*/
	padding: 60px 0px;
}

footer .inner-content p {
	text-transform: uppercase;
}

footer .inner-content p a {
	color: #bd232f;
	margin-left: 3px;
}
footer .inner-content p a:hover b {
	color: #613834 !important;
	/*margin-left: 3px;*/
}





/* Product Page */

.products {
	margin-top: 100px;
}

.products .filters {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 60px;
}

.products .filters li {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #121212;
	display: inline-block;
	margin: 0px 10px;
	transition: all .3s;
	cursor: pointer;
}

.products .filters ul li.active,
.products .filters ul li:hover {
  color: #1e0f0e;
}

.products ul.pages {
	margin-top: 30px;
	text-align: center;
}

.products ul.pages li {
	display: inline-block;
	margin: 0px 2px;
}

.products ul.pages li a {
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	font-size: 15px;
	font-weight: 700;
	color: #121212;
	transition: all .3s;
}

.products ul.pages li a:hover,
.products ul.pages li.active a {
	background-color: #f33f3f;
	border-color: #f33f3f;
	color: #fff;
}



/* Team Members */

.team-members {
	margin-top: 100px;
}

.team-member {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.team-member img {
	width: 100%;
	overflow: hidden;
}

.team-member .down-content {
	padding: 30px;
	text-align: center;
}

.team-member .thumb-container {
	position: relative;
}

.team-member .thumb-container .hover-effect {
	position: absolute;
	background-color: rgba(243,63,63,0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}

.team-member .thumb-container .hover-effect .hover-content {
	position: absolute;
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.team-member .thumb-container .hover-effect .hover-content ul.social-icons li a:hover {
	background-color: #fff;
	color: #f33f3f;
}

.team-member:hover .hover-effect {
	visibility: visible;
	opacity: 1;
}

.team-member .down-content h4 {
	font-size: 17px;
	color: #bd232f;
	margin-bottom: 8px;
}

.team-member .down-content span {
	display: block;
	font-size: 13px;
	color: #f33f3f;
	font-weight: 500;
	margin-bottom: 20px;
}




/* Services */

.services {
	background-image: url(../images/services-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;
}

.services .service-item {
	text-align: center;
}

.services .service-item .icon {
	background-color: #f7f7f7;
	padding: 40px;
}

.services .service-item .icon i {
	width: 100px;
	height: 100px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	background-color: #f33f3f;
	color: #fff;
	font-size: 32px;
}

.services .service-item .down-content {
	background-color: #fff;
	padding: 40px 30px;
}

.services .service-item .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.services .service-item .down-content p {
	margin-bottom: 25px;
}




/* Clients */

.happy-clients {
	margin-top: 100px;
	margin-bottom: 40px;
}

.happy-clients .client-item img {
	max-width: 100%;
	overflow: hidden;
	transition: all .3s;
	cursor: pointer;
}

.happy-clients .client-item img:hover {
	opacity: 0.8;
}




/* Find Us */

.find-us {
	margin-top: 100px;
}

.find-us p {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.find-us h4 {
	font-size: 17px;
	color: #bd232f;
	margin-bottom: 20px;
}

.find-us .left-content {
	margin-left: 30px;
}



/* Send Message */

.send-message {
	margin-top: 100px;
}

.contact-form input {
	font-size: 15px;
	width: 100%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form input:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form textarea {
	font-size: 15px;
	width: 100%;
	min-width: 100%;
	min-height: 120px;
	height: 120px;
	max-height: 180px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form textarea:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form button.filled-button {
	background-color: #bd232f;
	color: #fff;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.contact-form button.filled-button:hover {
	background-color: #bd232f;
	color: #fff;
}

.accordion {
	margin-left: 30px;
}

.accordion a {
	cursor: pointer;
	font-size: 17px;
	color: #1a6692!important;
	margin-bottom: 20px;
	transition: all .3s;
}

.accordion a:hover {
	color: #f33f3f!important;
}

.accordion a.active {
  color: #f33f3f!important;
}

.accordion li .content {
  display: none;
  margin-top: 10px;
}

.accordion li:first-child {
	border-top: 1px solid #eee;
}

.accordion li {
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
}
.banner h1{
	color: #fff;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: Fino Sans Regular;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px #000;
    font-style: italic;
}
.color-price{
	color: #12100f;
	width: 30px;
}
.line-dash{
	border: 0;
	height: 0.5px;
	width: 100%;
	margin: 40px 0;
}




/* Responsive Style */
@media (max-width: 768px) {
	.banner .text-content .menu {
		width: 90%;
		margin-left: 5%;
	}
	.banner .text-content h4 {
		font-size: 17px;
	}

	.banner .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.banner-item-01,
	.banner-item-02,
	.banner-item-03 {
		padding: 180px 0px;
		background-position: 43%;
	}
	.page-heading .text-content h4 {
		font-size: 22px;
	}
	.banner-item-02{
		background-position: 53%;
	}
	.page-heading .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.latest-products .section-heading a {
		float: none;
		margin-top: 0px;
		display: block;
		margin-bottom: 20px;
	}
	.product-item .down-content h4 {
		margin-bottom: 5px!important;
	}
	.product-item .down-content h6 {
		top: 5px!important;
		left: 1px!important;
	}
	.product-item .down-content .arrow {
		left: 1px!important;
		/*bottom: 5px!important;*/
		bottom: 0px!important;   /*H edit*/
	}
	.best-features .left-content {
		margin-bottom: 30px;
	}
	.call-to-action .inner-content {
		text-align: center;
	}
	.call-to-action .inner-content .filled-button {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}
	.about-features img {
		margin-bottom: 30px;
	}
	.service-item {
		margin-bottom: 30px;
	}
	.find-us #map {
		margin-bottom: 30px;
	}
	.find-us .left-content {
		margin-left: 0px;
	}
	.send-message .accordion {
		margin-top: 30px;
		margin-left: 0px;
	}
	.section-heading{
		margin-bottom: 30px;
	}
	.title-small, .title-small-list{
		font-size: 16px !important;
	}
	.add-on .title-small{
		font-size: 14px !important;
	}
	.booking-at-bottom .inner-content {
		width: 100%;
		margin: 0 auto;
	}
}

@media (max-width: 992px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 25px;
		top: 0px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #000000!important;
		border-bottom: none!important;
		padding-bottom: 15px;
		font-size: 22px;
	}
	.product-item .down-content h4 {
		margin-bottom: 10px;
	}
	.product-item .down-content h6 {
		position: relative;
		top: 0;
		right: 0;
		margin-bottom: 20px;
	}
	.product-item .down-content .arrow {
		position: relative;
		right: 0;
		bottom: 0;
	}
}
@media (min-width: 768px){
	.booking-at-bottom h1{
		letter-spacing: 0.2rem;
		font-size: 3rem;
	}
	.menu > li > ul.dropdown_menu {
		width: 200px !important;
	}
	.menu-item{
		width: 200px;
		float: left;
	}
	.price{
		font-weight: bold;
		color: white;
		text-align: right;
	}
	.navbar .navbar-brand{
		padding: 15px 0;
	}
	.filled-button.online-booking-btn{
		font-size: 20px !important;
		letter-spacing: 1px;
		padding: 6px 18px 6px 22px !important;
		font-weight: 700;
		background-image: linear-gradient(to top, #727272, #1a0b0a, #e7e7e7);
		border: 1px solid #e7e5e1;
		box-shadow: 0px 0px 3px 2px #574747;
		color: #fff;
		border-radius: 4px;
		text-transform: uppercase;
	}
	.filled-button.online-booking-btn.btn-book-promotion{
		font-size: 20px !important;
		letter-spacing: 1px;
		padding: 6px 18px 6px 22px !important;
		box-shadow: 0px 0px 3px 0px #626262;
		background-image: linear-gradient(to top, #838383, #1a0b0a, #b5b5b5);
		border: 1px solid #e1e1e1;
	}

	.filled-button.online-booking-btn.text-small{
		font-size: 17px !important;
	}
	.phone-booking{
		font-size: 48px;
		color: white;
		font-weight: 600;
		margin-top: 5px;
	}
	.border-right-col{
		border-right: 1px solid #dee2e6 !important;
	}
	.line-dash {
		/*border: 1px dotted #dedede;*/
	}
	.banner-item-02{
		background-position: center;
	}
}
@media (min-width: 1024px) {
    header .navbar{
        padding: 13px 0;
    }
    .navbar .navbar-nav .nav-item {
        margin: 0px 5px;
    }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .active>.nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show>.nav-link{
        padding-bottom: 25px;
    }
    .navbar .navbar-brand{
        margin-top: -12px;
    }

	/*Read more button*/
	.product-item .down-content {
		padding: 15px 0 15px 0;
	}
	.menu > li{
		width: 100%;
	}
	.menu li a {
		padding: 15px 10px;
	}
	.product-item .down-content .arrow {
		right: 8px;
		bottom: 23px;
	}
	.product-item .down-content h4{
		font-size: 20px;
	}
	.title-big{
		font-size: 20px !important;
		letter-spacing: 3px;
	}
	.filled-button.online-booking-btn.text-small{
		font-size: 25px !important;
		padding: 10px 35px !important;
	}

	.banner h1{
		font-size: 65px;
	}
}
@media (min-width: 1440px) {
    /*header .navbar{*/
        /*padding: 17px 0px;*/
    /*}*/
    .navbar .navbar-brand{
        margin-top: -12px;
    }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .active>.nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show>.nav-link{
        padding-bottom: 25px;
    }
	.left-content h4{
		font-size: 40px;
	}
	.title-big{
		font-size: 25px !important;
		letter-spacing: 5px;
	}
	.banner h1{
		font-size: 55px;
	}
}
@media (max-width: 480px){
	.navbar-brand{
		padding: 13px 0;
		margin-left: 20px;
	}
	.phone-booking{
		font-size: 40px !important;
		color: white;
		font-weight: 500;
	}
	.online-booking-btn{
		padding: 6px 18px 6px 22px !important;
		font-size: 15px !important;
	}
	.banner h1{
		font-size: 28px !important;
		margin-bottom: 5px !important;
	}
	.banner-item-01{
		background-position: 50%;
	}
	.product-item .down-content h4{
		font-size: 20px;
	}
}

.menu > li > ul.dropdown_menu{
	width: 180px;
	background: #F33F3F;
}
.dropdown_menu li{
	width: 100%;
	border-bottom: 1px solid white;
}

.price {
	font-weight: bold;
}
button:focus{
	outline: none;
}


/*mneu in Modal*/
.modal{
	z-index: 99999;
}
.menu-popup .menu-item,
.menu-popup .price
{
	color: #bd232f;
}
.modal-body{
	/* height: 600px; */
	overflow-y: scroll;
}
.menu-popup .menu-item{
	width: 460px;
}
.menu-popup li{
	border-bottom: 1px solid #f4f4f4;
	width: 100%;
}
.text-black{
	color: #bd232f;
}
a{
	cursor: pointer;
}
.menu-popup li.no-line{
	border: none;
}
.left-column-day{
	width: 100px;
	display: inline-block;
	text-align: right;
	padding-right: 15px;
}
b{
	color: #211b1a !important;
	font-weight: bold;
}


.text-banner-01 h3{
	color: white;
}
.banner .text-content h3, .text-banner-01 h3{
	margin-bottom: 30px;
}
.color-yellow{
	color: #fff473;
}
.no-border{
	border-bottom: none !important;
}
.text-bold{
	color: #000;
	font-weight: bold;
	display: block;
	font-size: 18px;
	width: 100%;
}
.ul-service li{
	color: #4a4a4a;
	font-weight: 400;
	font-size: 15px;
	padding: 3px 0;
}
.products .filters li.description{
	font-size: 16px;
	font-weight: 300;
	text-transform: none;
	padding: 10px 0;
	margin-bottom: 30px;
}

/*css for SERVICE MENU*/
.background-service{
	background-image: url("../images/ourservice/sunny-nails-service-01.jpg");
	min-height: 150px;
}
.title-service{
	padding: 50px 0;
	color: white;

}
.title-service{
	font-size: 30px;
	color: white;
}
.description p{
	font-size: 15px;
	color: #626262;
	margin-bottom: 20px;
 	text-align: justify;
}

.div-title{
	border-top: 1px solid rgba(255,255,255,0.1);
}
.title-big{
	font-size: 29px;
	color: #12100f;
	font-weight: 300;
	padding: 16px 0 16px 0;
	letter-spacing: 4px;
	font-family: 'Marcellus', serif;
	text-transform: uppercase;
	border-bottom: 1px dotted #dedede;
}
.title-big-sub{
	font-size: 22px;
	color: #bd232f ;
	font-weight: 300;
	padding: 0 0 0 16px;
	letter-spacing: 1px;
	font-family: 'Marcellus', serif;
	text-transform: uppercase;
}
.title-small, .title-small-list{
	font-size: 17px;
	color: #555 ;
	margin: 0;
	padding: 5px 0;
	line-height: 1.2;
	text-align: justify;
}
.title-small-list{
	margin-bottom: 16px;
}
.text-price{
	font-size: 16px;
	font-weight: bold;
	padding-left: 14px;
}
.border-right-img{
	border-right: 1px solid rgba(255,255,255,0.1);
}
.border-right-img img{
	max-width: 100%;
	border-radius: 20px;
}

.color-bold{
	color: #a5792b;
}
#women .owl-item:hover h4{
	color: #ffde97;
}
@media(min-width: 768px){
	.title-big{
		padding: 0 0 10px 0;
		font-size: 25px;
	}
}

.add-on .title-small{
	font-size: 15px;
	font-weight: 400;
}
.add-on .price{
	font-weight: 400;
	font-size: 15px;
	color: black;
}
.color-grey{
	color: #999;
}
.title-small-sub{
	font-size: 15px;
	color: #666;
	padding-left: 10px;
}
.description p{
	margin-bottom: 10px;
}
h4.font-small{
	font-size: 1.5rem;
}
.line-dash-small{
	margin: 20px 0;
	border: 1px dotted #dedede;
	height: 0.5px;
	width: 100%;
}
.call-to-action .inner-content.no-background{
	background-color: transparent;
}



/*-- Custom --*/
.fontcus {
	font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
	margin-bottom: 10px;
}

.imgcus {
	width: 100% !important;
}

.lettercus {
	letter-spacing: 2px;
}

.fontsizeaboutcus {
	font-size: 36px !important;
}

.textcus p {
	margin-bottom: 15px;
}

.bannercus {
	/* padding: 630px 0px 303px 0px; */
	width: 100%;
    height: 800px;
    margin-top: 80px;
}

.textbannerservicecus {
	font-size: 50px;
	margin-left: 50px;
	color: #ffffff;
}

@media (max-width: 450px) {
	.textbannerservicecus {
		font-size: 40px;
		margin-left: 50px;
		color: #ffffff;
		line-height: 60px;
	}
}

.container.services {
	max-width: 1800px;
}

.service-item {
	padding: 10px;
}

.service-item a img {
	padding: 10px;
	border: solid 1px #b9b9b9;
	transition: all 0.3s;
}

.service-item a:hover img {
	padding: 0px;
	border: solid 1px #c1c1c1;
}

.service-item a .item-title {
	text-align: center;
	background: linear-gradient(to top, #fff, #eeedeb0f 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 20px 20px 20px;
	border-radius: 0px 0px 8px 8px;
    transition: all 0.2s;
}

.service-item a:hover .item-title {
	margin: 0 10px 10px 10px;
	padding: 0 10px 10px 10px;
}

.modal-header .title-big {
    font-size: 29px;
    color: #fbfafa;
    font-weight: 300;
    padding: 16px 0 16px 0;
    letter-spacing: 4px;
    font-family: 'Marcellus', serif;
    text-transform: uppercase;
}

.modal-header .title-desc {
    font-size: 18px;
	padding: 10px 0 10px 0;
    color: #ddd;
    font-family: 'Marcellus', serif;
}

/* The Modal (background) */
.d-none {
	display: none;
}

.d-block {
	display: block;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	padding-top: 150px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
/* .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
} */

@media (min-width: 320px){
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 100%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}
}

@media (min-width: 500px){
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 50%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}
}

@media (min-width: 992px){
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 30%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
  
.modal-header {
	padding: 2px 16px;
	background-color: #1e1918;
	color: white;
  }
  
.modal-body {
	text-align: justify;
}
  
.modal-footer {
	padding: 2px 16px;
	background-color: #1e1918;
}

.modal-footer button {
	margin: 10px 0;
	color: #1e0f0e;
	background: #e7e5e1;
}

.modal-footer button:hover {
	margin: 10px 0;
	background: #1e0f0e;
	color: #e7e5e1;
}

