/********** Template CSS **********/
:root {
    --primary: #348E38;
    --secondary: #525368;
    --light: #E8F5E9;
    --dark: #0F4229;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #242424;
    background-color: #fdf5e6;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 40px;
    height: 40px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: #472c1a;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #372112;
    font-weight: 700;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(53, 35, 4, .6);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: #e7be7452;
    border: 10px solid #e7be7400;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(53, 35, 4, .6), rgba(53, 35, 4, .6)), url(../img/mibica-commodities-banner-bg-about.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}

.breadcrumb-item.active {
    color: #ffffff !important;
    font-weight: 700;
}

.breadcrumb-item:hover {
    color: #ffffff !important;
    font-weight: 700;
}


/*** Top Feature ***/
@media (min-width: 991.98px) {
    .top-feature {
        position: relative;
        margin-top: -80px;
        z-index: 1;
    }
}

.top-feature .bg-white {
    background: #fffaf2 !important;
}

/*** Facts & Quote ***/
.facts,
.quote {
    background: rgb(43 28 2 / 53%);
}


/*** Service ***/
.service-item {
    position: relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #fffaf2;
    border: solid 1px #e3d5bc;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .3s;
}

.service-item:hover .service-text {
    background:rgb(37 24 1 / 68%);;
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: #e7be74b5;
}

.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: #fffaf2;
    background: #e7be7494;
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}


/*** Project Portfolio ***/
#portfolio-flters {
    display: inline-block;
    background: var(--light);
    padding: 10px 15px;
}

#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--dark);
    border-color: var(--dark);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
}

.portfolio-inner::before,
.portfolio-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(15, 66, 41, .6);
    transition: .5s;
}

.portfolio-inner::after {
    left: auto;
    right: 0;
}

.portfolio-inner:hover::before,
.portfolio-inner:hover::after {
    width: 50%;
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.portfolio-inner:hover .portfolio-text {
    transition-delay: .3s;
    opacity: 1;
}

.portfolio-inner .portfolio-text .btn {
    background: var(--light);
    color: var(--primary);
}

.portfolio-inner .portfolio-text .btn:hover {
    background: var(--primary);
    color: var(--light);
}


/*** Team ***/
.team-item {
    position: relative;
    overflow: hidden;
}

.team-item .team-text {
    position: absolute;
    width: calc(100% - 45px);
    left: -100%;
    bottom: 45px;
    padding: 1.5rem;
    background: #FFFFFF;
    border-radius: 0 4px 4px 0;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    left: 0;
    opacity: 1;
}

.team-item .team-social .btn {
    background: #f5d69d;
    color: #472c1a;
}

.team-item .team-social .btn:hover {
    background: #472c1a;
    color: #f5d69d;
}

.team-item .team-img .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.team-item:hover .team-img .team-social {
    transition-delay: .3s;
    opacity: 1;
}


/*** Testimonial ***/

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 4px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: var(--light);
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: var(--light);
    background: #472c1a;
}

.copyright a {
    color: #FFFFFF;
}

.copyright a:hover {
    color: #e7be74;
}

/*** NEW STYLES ***/
.logo-header {
    height: 55px;
    width: auto;
}

.background-header {
    background: #fffaf2;
}

.background-gradient {
    background: linear-gradient(160deg, #e7be74, #e7be74);
    border-bottom: solid 1px #cfac6e;
}

.text-bar-dark {
    color: #382213;
    font-weight: 500;
}

.background-gradient .btn-link {
    border: solid 1px #dbae5e;
    margin-right: 5px;
    color: #472c1a;
    padding: 4px 10px;
    font-size: 14px;
}

.background-gradient .btn-link:hover {
    border: solid 1px #ffd994;
    background: #472c1a;
    color: #ffd994;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(52,142,56,0);
}

.font-14 {
    font-size: 14px;
}

.btn-contact {
    background: #e7be74;
    color: #372112;
    font-weight: 500;
    border: solid 1px #cba664;
    transition: .5s;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-contact:hover {
    color: #372112;
    font-weight: 900;
    border: solid 1px #87672f;
}

.btn-primary-custom {
    background: #e7be74;
    color: #372112;
    font-weight: 600;
    border: solid 1px #cba664;
    letter-spacing: 1px;
    transition: .5s;
    padding: 10px 18px;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-primary-custom:hover {
    color: #ffdb9a;
    font-weight: 600;
    background: #472c1a;
    border: solid 1px #ffdb9b;
}

h1 {
    font-family: "Spectral", serif;
    color: #472c1a;
}

h4 {
    color: #472c1a;
}

.font-sans {
    font-family: sans-serif !important;
}

.font-special {
    font-family: "Spectral", serif !important;
}

.text-desc-bold b {
    color: #5c5c5c;
}

.text-desc-banner {
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 200 !important;
    font-family: sans-serif;
}

.bg-light {
    background-color: #e7be74db !important;
}

.text-primary {
    color: #472c1a !important;
}

.text-justify {
    text-align: justify !important;
}

.font-18 {
    font-size: 18px !important;
}

/* .bg-footer {
    background-color: #e7be74d4 !important;
} */

.text-brown {
    color: #372112 !important;
}

.footer p,
.footer a{
    color: #242424 !important;
}

.btn-outline-light {
    color: #E8F5E9;
    border-color: #242424;
}

.btn-outline-light:hover {
    color: #e6c99c !important;
    background-color: #472c1a;
    border-color: #f3e1c3;
}

.back-to-top {
    background-color: #472c1abd;
    border-color: #e7be74;
}

.back-to-top:hover,
.back-to-top:focus {
    color: #e6c99c;
    background-color: #472c1a;
    border-color: #e6c99c;
}

.about .why-choose,
.profile .why-choose {
    background-color: #fff1d6;
    border: solid 1px #dbd0b9;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.profile .why-choose p {
    display: block;
}

.profile .why-choose h4 {
    font-size: 20px;
}

.why-choose {
    background-color: #fffaf2;
    border: solid 1px #ebe2d0;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.why-choose .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: #000000;
    background: #e7be7494;
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}

.why-choose:hover .btn {
    width: 112px;
}

.why-choose p {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* số dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.why-choose p.expanded {
    -webkit-line-clamp: unset;
}

.about .bg-light {
    background-color: #eed5a8;
    border: solid 1px #e3ca9c;
}

.bg-about-2 {
    background-color: #f1d8aa;
    border: solid 1px #dbd0b9;
}

.btn-link-info {
    color: #472c1a;
}

.btn-link-info:hover {
    color: #472c1a;
    font-weight: 700;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #e7be74;
}

.profile .row[id] {
    display: none;
}

.profile .row[id].active {
    display: flex;
}

.profile .row.active {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1200px) {
    .display-5 {
        font-size: 2.5rem;
    }

    .display-6 {
        font-size: 1.8rem;
    }
}