<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!--description-->
    <meta name="description"
        content="Located conveniently in Surprise, Arizona 85374, Our Vicky's Nails And Spa is one of the best salons in this area. Offers premier nail care and spa treatment services to satisfy your needs of enhancing natural beauty and refreshing your day.">
    <!--keyword-->
    <meta name="keyword"
        content="Vicky's Nails And Spa, Vicky's Nails And Spa in Surprise, Vicky's Nails And Spa in Arizona 85374, nails salon near me, luxury nails, best nails color, nails spa, nails salon, nails bar, perfect nail, nails polish, gel polish, acrylics, nails company, best nail color, nude nail colors, nail design, nails spa near me, manicure, acrylic paint, pedicure near me">
    <meta name="author" content="Vicky's Nails And Spa | Top Nails Salon in Surprise, Arizona 85374">
    <title>Vicky's Nails And Spa | Top Nails Salon in Surprise, Arizona 85374</title>

    <meta name="og:image" content="images/Vicky-s-nails-and-spa.svg">
    <meta property="og:image" content="images/thumbnail.jpg">

    <!-- Favicon -->
    <link href="images/Vicky-s-nails-and-spa.svg" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="css/aquazennails/style-no-bg.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    
    <style>
    	.container-fluid-header{
    		background-image: url(images/Vicky-s-nails-and-spa-banner-01.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)) !important;
    		background-blend-mode: overlay;
		    background-position: 60% 30% !important;
		    background-repeat: no-repeat;
		    background-size: cover; 
    	}
	    .navbar-dark .navbar-toggler-icon.no-bg {
		    background-image: url(images/menu.svg) !important;
		    display: inline-block;
		    width: 1.5em;
		    height: 1.5em;
		    vertical-align: middle;
		    content: "";
		    background: no-repeat center center;
		    background-size: 100% 100%;
		}
		.navbar-dark .navbar-toggler-icon {
		    background-image: url(images/menu.svg) !important;
		    display: inline-block;
		    width: 1.5em;
		    height: 1.5em;
		    vertical-align: middle;
		    content: "";
		    background: no-repeat center center;
		    background-size: 100% 100%;
		}
		.discount.background {
			background-image: url(images/background-03.jpg), linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65));
    		background-blend-mode: overlay;
		    /* background-attachment: fixed; */
		    background-position: center;
		    background-repeat: no-repeat;   /* edit */
		    /* background-size: cover; */ /* edit */
		}
		
		html{
		  background-image: none !important;
		  background-repeat: repeat-y; /* edit */
		  background-position: center;
		  background-attachment: fixed;
		  background-size: cover;
		}
		.background-01 {
			background-image: url(images/bg-specialties-01.png);
		    background-position: center;
		    background-repeat: no-repeat;   /* edit */
		    background-size: contain;
		    width: 490px;
		    height: 607px;
		}
		.background-02 {
			background-image: url(images/bg-specialties-02.png);
		    background-position: center;
		    background-repeat: no-repeat;   /* edit */
		    background-size: contain;
		    width: 490px;
		    height: 607px;
		}
    </style>

</head>

<body>
    <div><!-- Top Bar Start -->
<div class="top-bar d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mt-2 mt-md-0 pl-lg-3">
                <div class="top-bar-left">
                    <div class="text">
                        <i class="far fa-envelope text-white"></i>
                        <a href="mailto:info@gmail.com" data-email class="text-white">info@gmail.com</a>
                    </div>
                    <div class="text ">
                        <i class="fa fa-phone-alt text-white"></i>
                        <a href="tel:+1(000) 000-0000" class="text-white" data-phone>(000) 000-0000</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 justify-content-md-end">
                <div class="top-bar-right justify-content-center justify-content-md-end">
                    <div class="social">
                        <a href="https://www.facebook.com" target="_blank" class="no-border-left text-white" data-facebook><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com" target="_blank" class="text-white" data-instagram><i class="fab fa-instagram"></i></a>
                        <a href="https://www.google.com" target="_blank" class="no-border text-white" data-google><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand logo-color">
            <div>
                <img src="images/Vicky-s-nails-and-spa-logo.png" style="height: 70px" alt="Vicky's Nails And Spa">
            </div>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div id="main-menu" class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link">About Us</a>
                <a href="services.html" class="nav-item nav-link">Services</a>
                <a href="gallery.html" class="nav-item nav-link">Gallery</a>
                <a href="specialties.html" class="nav-item nav-link">Specialties</a>
                <a href="tel:+1(000) 000-0000" target="_blank" class="nav-item nav-link">Appointment</a>
                <a href="contact.html" class="nav-item nav-link">Contacts</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->
</div>
    <!-- Hero Start -->
    <div class="hero container-fluid-header">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-6 pl-md-4 pl-lg-0">
                    <div class="hero-text">
                        <h1 class="uicolor_primary w-100" name="storeName">Vicky's Nails And Spa</h1>
                        <p>Located conveniently in <span>Arizona 85374</span>, Our Vicky's Nails And Spa is one of the best salons in this area.
                            Offers premier nail care and spa treatment services to satisfy your needs of enhancing
                            natural beauty and refreshing your day.</p>
                        <div class="text-center w-100">
                        	<a href="https://www.facebook.com" data-facebook target="_blank" class="btn btn-book-banner btn-hover color-1">Fanpage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img class="radius-3" src="images/Vicky-s-nails-and-spa-about.jpg">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p class="bg-section-1">About Us</p>
                        <div>
                            <h3 class="text-welcome-about">Welcome to</h3><br><span class="text-logo" style="color: var(--primary)">Vicky's Nails And Spa</span>
                        </div>


                    </div>
                   <!--  <div class="about-text">
                        <p>
                            Located conveniently in <span th:text="${dataObj.info.salon.city}"></span>, <span th:text="${dataObj.info.salon.state}"></span>. Our Vicky's Nails And Spa is one of the best salons in
                            this area. <b th:text="${dataObj.info.salon.name}"></b> Offers premier nail care and spa treatment services to satisfy
                            your needs of enhancing natural beauty and refreshing your day.
                        </p>
                    </div> -->
                    
                    <!-- <div class="about-text">
                        <p th:text="${dataObj.info.salon.name + ' always strives to provide the highest quality and customer experience with our services. We constantly strive to improve our technology in order to offer you the best service. We provide a range of nail care services, including pedicures, manicures, nail polish, dip powders, waxing, and more. We strive to satisfy all of our clients at Milano Nail. When you leave our Vicky's Nails And Spa, you will be more confident and beautiful. To accomplish this, a clean working environment is vital. Before using any nail tools, the equipment is disinfected. We invest in the latest nail chair designs to provide a feeling of relaxation and comfort. This is due to the fact that a highly experienced workforce performs miracles with their hands. We can assist you in selecting the best and most suitable nail for yourself. We hope will be served you as soon as possible at ' + dataObj.info.salon.name + ' ' + dataObj.info.salon.address}">
                        </p>
                     </div>    -->
                    
                    
                    
                    <div class="about-text">
                    	<span class="bold">Vicky's Nails And Spa</span>
                    	<span>always strives to provide the highest quality and customer experience with our services. We constantly strive to improve our technology in order to offer you the best service. We provide a range of nail care services, including pedicures, manicures, nail polish, dip powders, waxing, and more. We strive to satisfy all of our clients at </span>
                    	<span class="bold">Vicky's Nails And Spa</span>
                    	<span>. When you leave our Vicky's Nails And Spa, you will be more confident and beautiful. To accomplish this, a clean working environment is vital. Before using any nail tools, the equipment is disinfected. We invest in the latest nail chair designs to provide a feeling of relaxation and comfort. This is due to the fact that a highly experienced workforce performs miracles with their hands. We can assist you in selecting the best and most suitable nail for yourself. We hope will be served you as soon as possible at</span>
                    	<span class="bold">Vicky's Nails And Spa</span>
                    	<span class="bold">, Surprise, Arizona 85374</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Class Start -->
    <div class="class top-services">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p  class="bg-section-2">Special</p>
                <h2>Top Services</h2>
            </div>
            <div class="row justify-content-center" id="topServices">
                <div class="col-md-6 col-lg-4">
			        <div class="wow fadeInUp p-3">
			            <img class="radius-3 w-100" src="images/Vicky-s-nails-and-spa-service-01.jpg">
			            <div class="text-center mt-3">
			                <h4>Manicure</h4>
			            </div>
			        </div>
			    </div>
                <div class="col-md-6 col-lg-4">
			        <div class="wow fadeInUp p-3">
			            <img class="radius-3 w-100" src="images/Vicky-s-nails-and-spa-service-02.jpg">
			            <div class="text-center mt-3">
			                <h4>Pedicure</h4>
			            </div>
			        </div>
			    </div>
                <div class="col-md-6 col-lg-4">
			        <div class="wow fadeInUp p-3">
			            <img class="radius-3 w-100" src="images/Vicky-s-nails-and-spa-service-03.jpg">
			            <div class="text-center mt-3">
			                <h4>Nail Enhancements</h4>
			            </div>
			        </div>
			    </div>
                <div class="col-md-6 col-lg-4">
			        <div class="wow fadeInUp p-3">
			            <img class="radius-3 w-100" src="images/Vicky-s-nails-and-spa-service-04.jpg">
			            <div class="text-center mt-3">
			                <h4>Permanent Eyebrows</h4>
			            </div>
			        </div>
			    </div>
                <div class="col-md-6 col-lg-4">
			        <div class="wow fadeInUp p-3">
			            <img class="radius-3 w-100" src="images/Vicky-s-nails-and-spa-service-05.jpg">
			            <div class="text-center mt-3">
			                <h4>Facial Treatment</h4>
			            </div>
			        </div>
			    </div>
                <div class="col-md-6 col-lg-4">
			        <div class="wow fadeInUp p-3">
			            <img class="radius-3 w-100" src="images/Vicky-s-nails-and-spa-service-06.jpg">
			            <div class="text-center mt-3">
			                <h4>Eyelash Extension</h4>
			            </div>
			        </div>
			    </div>
                <div class="col-md-6 col-lg-4">
			        <div class="wow fadeInUp p-3">
			            <img class="radius-3 w-100" src="images/Vicky-s-nails-and-spa-service-07.jpg">
			            <div class="text-center mt-3">
			                <h4>Waxing</h4>
			            </div>
			        </div>
			    </div>
                
            </div>
        </div>
    </div>
    <!-- Class End -->


    <!-- Discount Start -->
    <div class="discount background" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="color-white">Vicky's Nails And Spa</h2>
                <!--<h2 class="color-white">Get <span>10%</span> Discount for all</h2>-->
            </div>
            <div class="container discount-text">
                <p class="color-white fs-18">We make it our core commitment to provide a comforting yet professional ambiance,
                    while preserving the
                    luxurious and modern salon etiquette. Our salon is proud to have passionate and diverse expert
                    technicians always ready to service you. <br>Thank you for choosing us for your beauty care!
                </p>
                <!-- <a href="https://www.facebook.com" data-facebook target="_blank" class="btn btn-book-banner btn-hover color-1">Fanpage</a> -->
            </div>
        </div>
    </div>
    <!-- Discount End -->

	<!-- <div class="class top-services">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p  class="bg-section-2">Special</p>
                <h2>Special</h2>
            </div>
            <div class="row justify-content-center px-3"> background-01
                <div class="col-md-6 col-lg-6" th:each="specialties : ${dataObj.specialties}" th:if="${specialties.home}">
			        <div class="wow fadeInUp p-3 positon-relative">
			        	<div class="content-special">
				        	<div class="title-special" th:utext="${specialties.title}">SPECIAL OFFERS</div>
				        	<p class="text-desc" th:utext="${specialties.desc}"></p>
			        	</div>
			            <img class="w-100" th:src="@{${template + '/images/' + folder + '/' + specialties.url}}">
			        </div>
			    </div>
            </div>
        </div>
    </div> -->
    
    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p class="bg-section-2">Highlight</p>
                <h2>Top Choice</h2>
            </div>
            <div class="row" id="topChoice">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img src="images/Vicky-s-nails-and-spa-gallery-01.jpg" alt="specialties-01">
			                <div class="team-social">
			                    <a href="https://www.facebook.com" data-facebook target="_blank"><i
			                            class="fab fa-facebook-f"></i></a>
			                    <a href="https://www.instagram.com" data-instagram target="_blank"><i
			                            class="fab fa-instagram"></i></a>
			                    <a href="https://www.google.com" data-google target="_blank" class="no-border"><i
			                            class="fab fa-google"></i></a>
			                </div>
			            </div>
			        </div>
			    </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img src="images/Vicky-s-nails-and-spa-gallery-02.jpg" alt="specialties-02">
			                <div class="team-social">
			                    <a href="https://www.facebook.com" data-facebook target="_blank"><i
			                            class="fab fa-facebook-f"></i></a>
			                    <a href="https://www.instagram.com" data-instagram target="_blank"><i
			                            class="fab fa-instagram"></i></a>
			                    <a href="https://www.google.com" data-google target="_blank" class="no-border"><i
			                            class="fab fa-google"></i></a>
			                </div>
			            </div>
			        </div>
			    </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img src="images/Vicky-s-nails-and-spa-gallery-03.jpg" alt="specialties-03">
			                <div class="team-social">
			                    <a href="https://www.facebook.com" data-facebook target="_blank"><i
			                            class="fab fa-facebook-f"></i></a>
			                    <a href="https://www.instagram.com" data-instagram target="_blank"><i
			                            class="fab fa-instagram"></i></a>
			                    <a href="https://www.google.com" data-google target="_blank" class="no-border"><i
			                            class="fab fa-google"></i></a>
			                </div>
			            </div>
			        </div>
			    </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img src="images/Vicky-s-nails-and-spa-gallery-04.jpg" alt="specialties-04">
			                <div class="team-social">
			                    <a href="https://www.facebook.com" data-facebook target="_blank"><i
			                            class="fab fa-facebook-f"></i></a>
			                    <a href="https://www.instagram.com" data-instagram target="_blank"><i
			                            class="fab fa-instagram"></i></a>
			                    <a href="https://www.google.com" data-google target="_blank" class="no-border"><i
			                            class="fab fa-google"></i></a>
			                </div>
			            </div>
			        </div>
			    </div>
                
                
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Button control -->
    <a class="btn-scroll" id="button-home" href="../../index.html"><i class="ti-home"></i></a>
    <a class="btn-scroll" id="button-hotline" href="tel:+84908580910">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg>
    </a>

    <!-- Footer Start -->
    <div><div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid-footer">  <!--  -->
        <div class="container">
            <div class="footer-info">
                <a href="index.html" class="footer-logo">
                    <img src="images/Vicky-s-nails-and-spa-logo.png" style="height: 70px" alt="">
                </a>
                
                <div class="footer-menu">
                    <a href="tel:+1(000) 000-0000" style="font-size: 24px">(000) 000-0000</a><br>
                    <a href="https://www.google.com" target=_blank style="font-size: 18px; color: #f2f2f2">Surprise, Arizona 85374</a><br>
                    <a href="mailto:info@gmail.com" style="font-size: 18px; color: #f2f2f2"">info@gmail.com</a>
                </div>
                
                <div class="footer-social">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.google.com" target="_blank"><i class="fab fa-google"></i></a>
                </div>

            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="index.html">Vicky's Nails And Spa</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed by <a href="https://www.websitene.com" target="_blank">Website Nè</a></p>
                </div>
            </div>
        </div>
    </div>
</div></div>
    <!-- Footer End -->

    <!--Pop-up -->
    <!-- <div id="popup-ads" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pt-0 pb-0">
                    <h2 class="modal-title">Promotion</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="w-100" src="images/Vicky-s-nails-and-spa-pop-up.jpg" alt="">
                    <div class="row w-100 popup-button-booking m-0 pt-3">
                        <div class="col-6 pl-0 pr-2">
                            <a class="join-wthree hvr-wobble-horizontal btn-callnow" href="tel:+1(000) 000-0000" target="_blank">
                                <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
                                <span style="font-size: 10px;"></span>Call Now <br>
                                <span style="color: #edffb4">(000) 000-0000</span>
                            </a>
                        </div>
                        <div class="col-6 pr-0 pl-2">
                            <a class="join-wthree hvr-wobble-horizontal btn-booknow" href="https://www.facebook.com" target="_blank">
                                <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>Fanpage
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
        
            </div>
        </div>
    </div> -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!--&lt;!&ndash; JavaScript Libraries &ndash;&gt;-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Pop-up -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>

        // $(window).on('load',function(){
        //     setTimeout(function(){ alert(" //show popup"); }, 5000);
        // });

        $(window).on('load', function() {
            $('#popup-ads').modal('show');
        });

        $('#popup-ads').modal({
            // backdrop: 'static', // Prevent to close on click outside the modal
            // keyboard: false  // to prevent closing with Esc button (if you want this too)
        })


        var topIMG = "images/boujee-nails-spa-logo.png";
        var sclIMG = "images/boujee-nails-spa-logo.png";

        $('img[alt="Gabriela Silveira"]').attr("class", "logo")

        $(window).scroll(function() {
            var value = $(this).scrollTop();
            if (value > 50)
                $("#logo-white").attr("src", sclIMG);
            else
                $("#logo-white").attr("src", topIMG);
        });



        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>



</body>

</html>